/* Add this to your CSS file */
.video-background {
    position: relative;
    width: 100%;
    max-height: 70vh; /* Adjust the maximum height as needed */
    overflow: hidden;
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .video-overlay h1 {
    font-size: 3.5em;
    font-weight: 700;
  }
  
  .video-overlay p {
    font-size: 1.8em;
    margin: 10px 0;
  }
  
  /* Add this to your CSS file */
  .video-overlay .start-button {
    background-color: teal;
    /* Green color, you can change it */
    color: white;
    padding: 12px 24px;
    font-size: 1.2em;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 10px; /* Rounded corners */
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .video-overlay .start-button:hover {
    background-color: rgb(8, 70, 70);
    /* Darker green color on hover, you can change it */
    transform: scale(1.05);
    /* Slightly larger on hover */
  }
  